

.boxx_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.boxx{
    flex: 1 1 4rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0,0.1);
    border: 0.1rem solid rgb(0, 0, 0 ,0.3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.css-qxgp2z{
    margin-top: 5%;
    margin-left: 5%;
}

.exercise-card{
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #FF2625;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
}

.exercise-card img {
    height: 326px;
  }

  .exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.css-1ywlhp1 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 0px 21px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background: rgb(255, 169, 169);
    font-size: 14px;
    border-radius: 20px;
    text-transform: capitalize;
}

.css-td3e3r {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 0px 0px 21px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background: rgb(252, 199, 87);
    font-size: 14px;
    border-radius: 20px;
    text-transform: capitalize;
}

.css-zx0dr4 {
    margin: 11px 0px 0px 21px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;

}

.css-1xhj18k {
    text-align: center;
}



.navigationPage {
    background-color: white !important;
    border-radius: 2rem;
    position: relative;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 6%;

}
  

#mainExcercice{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./images/offer.png');
    position: relative;
    z-index: 0;
}

#mainExcercice::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.titreExcercice{
    font-size: 4rem;
    text-align: center;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.react-horizontal-scrolling-menu--wrapper {
    display: flex;
}

.css-1p959bk {
    position: relative;
    width: 100%;
    padding: 20px;
}
.react-horizontal-scrolling-menu--wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.css-9l3uo3 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.react-horizontal-scrolling-menu--scroll-container {
    display: flex;
    height: max-content;
    overflow-y: hidden;
    
    position: relative;
    width: 100%;
    
}

.css-a4f9ok {
    margin: 0px 40px;
}
.react-horizontal-scrolling-menu--scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: red;

  /* Ajoutez d'autres styles de mise en page selon vos besoins */
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  width: 8px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb {
  background-color: rgb(162, 5, 5);
  border-radius: 4px;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(96, 2, 2);
}

/* Ajoutez d'autres styles de mise en page pour les éléments de défilement selon vos besoins */

.css-npgl2q {
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 4px solid rgb(255, 38, 37);
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    width: 270px;
    height: 280px;
    cursor: pointer;
}

.css-rkc9zz img{
    width: 112px;
    height: 118px;
    margin: auto;
    padding-top: 11%;
}
.react-horizontal-scrolling-menu--item{
    display: flex;
    justify-Content: center;
    margin: 2% 3%;
    gap: 25px;
}

.css-1gt6l9f{
    display: flex;
    justify-Content: center;
    margin: 0 5%;
    gap: 25px;
    color: white ;
}


.shop-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .shop-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-btn {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .filter-btn.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  
  .product-item h3 {
    margin-bottom: 5px;
  }
  
  .product-item p {
    color: #666;
  }
  

.btn_course{
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background: #cccccc00;
  cursor: pointer;
  border-radius: 5px;
}


.btn_course:hover, .btn_course.active {
  background-color: #333;
  color: white;
}


@media (max-width: 500px) {
  .exercise-card {

  }
  .titreExcercice {
    font-size: 2rem; 
    text-align: center;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
}

@media (max-width: 500px) {
  .exercise-card{
    margin-right: 0;
    width: 300px;
  }
}
@media (max-width: 351px) {
  .exercise-card{
    margin-right: 0;
    padding-right: 1%;
    width: 175px;
    height: 400px;
  }
  .css-1ywlhp1{
    margin: 0;
  }
  .navigationPage{
    margin-left: 15%;
    margin-right: 9%;
  }
}
@media (max-width: 835px) {

  .navigationPage{
    margin-left: 29%;
    margin-right: 27%;
    justify-content: center;
  }
}

@media (max-width: 571px){
  .navigationPage {
      margin-left: 17%;
      margin-right: 16%;
  }
}
@media (max-width: 374px){
  .navigationPage {
    margin-left: 29px;
    margin-right: 23px;
  }
}

@media (max-width: 306px){
  .navigationPage {
    margin-left: 6px;
    margin-right: 6px;
  }
}
